[submodule "experiments/Experiment#1 (Temporal Perspective.)/ex_concept_drift (OCPA)"]
	path = "experiments/Experiment#1 (Temporal Perspective.)/ex_concept_drift (OCPA)"
	url = https://github.com/niklasadams/ex_concept_drift
